# Jekyll build output
_site/

# Jekyll cache
.jekyll-cache/
.jekyll-metadata

# Sass cache
.sass-cache/

# Ruby / Bundler
*.gem
.bundle/
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/

# macOS
.DS_Store

# Environment variables
.env
.env.production
