---
const { post } = Astro.props;
---

<section class="blog-post">
  <h1>{post.data.title}</h1>
  <p class="post-meta"><i>{post.data.date}</i></p>
  <p class="post-description">{post.data.description}</p>
  <article>{post.body}</article>
</section>
