---
layout: "../layouts/Layout.astro"
---

<section class="welcome">
    <h1>welcome. or whatever.</h1>
    <p>I'm Candace, a homebody living somewhere between “I’ve got this” and “what the hell is this.” Occasionally writing about chronic illness and caffeinated musings on life’s absurdities. Life didn’t go as planned, but maybe that’s the point.</p>
    <p>I read before I write, mostly because writing is hard and reading is better. But I write anyway. Poorly.</p>
    <p>I hike because I have dogs. They require it, and frankly, so do I—otherwise, we’d all start biting people.</p>
    <p>Stay, don’t stay. Browse, don’t browse. It’s all the same to me. I’ll be here, drinking coffee, judging font choices, and avoiding unnecessary human interaction.</p>
</section>

<style>
    .welcome {
        text-align: left; 
        text-align: justify; 
        margin: 2rem auto;
        max-width: 600px;
    }
    .welcome h1 {
        font-size: 1.8rem;
        color: #333;
        text-align: left; 
    }
    .welcome p {
        font-size: 1.0rem;
        color: #555;
        text-align: justify;
		padding-top: 8px; 
    }
</style>
