---
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import "../styles/global.css";
// Remove the import here

const { url } = Astro;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>candace woodbury</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Header />
    <div class="layout">
      <Sidebar currentUrl={url.pathname} />
      <main class="container">
        <slot />
      </main>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const sidebar = document.getElementById('sidebar');
        const toggleButton = document.getElementById('sidebar-toggle');
      
        if (sidebar && toggleButton) {
          toggleButton.addEventListener('click', () => {
            sidebar.classList.toggle('mobile-hidden');
            sidebar.classList.toggle('mobile-visible');
          });
        }
      });
    </script>
  </body>
</html>