---
/* You can optionally accept a title or other props */
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <title>{title ? title + ' | ' : ''}</title>
  </head>
  <body>
    <div class="blog-list">
      <!-- Main Blog Content Area -->
      <main class="blog-list">
        <slot />
      </main>
    </div>

    <!-- Optional sticky back arrow for blog pages -->
    <a href="/" class="back-arrow">&larr;</a>
  </body>
</html>
